<%- include('./includes/header.ejs') %>

<div id="content" class="site-content" tabindex="-1">

    <div class="container">

        <div id="primary" class="content-area">

            <main id="main" class="site-main">



                <div class="home-v3-slider">
                    <!-- ========================================== SECTION – HERO : END========================================= -->

                    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                        <div class="item"
                            style="background-image: url(./assets/images/products/redmi-9_2_1594145521.jpg);">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="caption vertical-center text-left">
                                            <div class="hero-subtitle-v2 fadeInDown-1">
                                                shop to get what you loves
                                            </div>

                                            <div class="hero-2 fadeInDown-2">
                                                Timepieces that make a statement up to <strong>40% Off</strong>
                                            </div>

                                            <div class="hero-action-btn fadeInDown-3">
                                                <a href="single-product.html" class="big le-button ">Start Buying</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div><!-- /.col -->
                                </div>
                            </div><!-- /.container -->
                        </div><!-- /.item -->

                        <div class="item"
                            style="background-image: url(./assets/images/products/redmi-note-9_1_1594145817.jpg);">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="caption vertical-center text-left">
                                            <div class="hero-subtitle-v2 fadeInDown-1">
                                                shop to get what you loves
                                            </div>

                                            <div class="hero-2 fadeInDown-2">
                                                Timepieces that make a statement up to <strong>40% Off</strong>
                                            </div>

                                            <div class="hero-action-btn fadeInDown-3">
                                                <a href="single-product.html" class="big le-button ">Start Buying</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div>
                                </div>
                            </div><!-- /.container -->
                        </div><!-- /.item -->

                        <div class="item"
                            style="background-image: url(assets/images/products/galaxy-s20_highlights_kv_00.jpg);">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="caption vertical-center text-left">
                                            <div class="hero-subtitle-v2 fadeInDown-1">
                                                shop to get what you loves
                                            </div>

                                            <div class="hero-2 fadeInDown-2">
                                                Timepieces that make a statement up to <strong>40% Off</strong>
                                            </div>

                                            <div class="hero-action-btn fadeInDown-3">
                                                <a href="single-product.html" class="big le-button ">Start Buying</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div>
                                </div>
                            </div><!-- /.container -->
                        </div><!-- /.item -->


                    </div><!-- /.owl-carousel -->

                    <!-- ========================================= SECTION – HERO : END ========================================= -->


                </div><!-- /.home-v1-slider -->

                <div class="home-v3-features-block animate-in-view fadeIn animated" data-animation="fadeIn">
                    <div class="features-list columns-5">
                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-transport"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Free Delivery</strong> from $50
                                </div>
                            </div>
                        </div><!-- .feature -->

                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-customers"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>99% Positive</strong> Feedbacks
                                </div>
                            </div>
                        </div><!-- .feature -->

                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-returning"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>365 days</strong> for free return
                                </div>
                            </div>
                        </div><!-- .feature -->

                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-payment"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Payment</strong> Secure System
                                </div>
                            </div>
                        </div><!-- .feature -->

                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-tag"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Only Best</strong> Brands
                                </div>
                            </div>
                        </div><!-- .feature -->
                    </div><!-- .features-list -->
                </div><!-- .home-v3-features-block -->

                <%- include('./includes/product-menus/products-carousel6.ejs') %>

                
               
            
            </main><!-- #main -->

        </div><!-- #primary -->

    </div><!-- .container -->

</div><!-- #content -->

<%- include('./includes/footer.ejs') %>