<section class="product-box">
    <img src="<% product.src %>" alt="">
    <p class="data">name : <% product.name %></p>
    <p class="data">price : <% product.price %></p>
    <p class="data">category : <% product.category %></p>
    <p class="data">company : <% product.company %></p>
    <p class="data">src : <% product.src %></p>
</section>

